*{
    padding: 0;
    margin: 0;
    box-shadow: 20px;
}


table{
    background-color: blueviolet;
    border: 2px solid rgb(61, 61, 61);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative; left: -170px; top: 20px;


}

body , table{
    margin: 0;
    padding: 0;
    
}

