.card{
    background-color:rgb(33,37,41);
    color: aliceblue;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid rgb(0, 0, 0);
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3px;
    position: relative; left: -280px;
    gap: 20px;
}

div{
    display: block;
}