
form{
    display: block;
    border: 3px solid rgb(70, 70, 70);
    position: relative; top: 30px; left: 100px;
    width: 500px;
    height: 250px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    
}

button{
    position: relative; left: 200px;
}

label{
    color: rgb(255, 255, 255);
}